{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block stylesheets %}
    <style>
        .checkout-head{
            padding-top: 30px;
            padding-bottom: 20px;
        }
        .price-head{
            padding-top: 20px;
        }
        .ship-head{
            padding-top: 20px;
        }
        .sub-head{
            padding-top: 20px;
        }
        .total-head{
            padding-top: 20px;
        }
        form{
            padding-bottom: 20px;
        }
    </style>
{% endblock stylesheets %}
    

{% block content %}
<div class="container">
    <h3 class="checkout-head">Checkout</h3>
    <div class="row">
        <div class="col-lg-6">
            <form method="POST" enctype="multipart/form-data" id="form">
                {% csrf_token %}
                {{form|crispy}}
                <input type="hidden" name="url" id="url" value="create-custom-checkout-session">
                <button class="btn btn-primary" data-productid="{{c.id}}" id="purchasebtn" >Submit</button>
            </form>
        </div>
        <div class="col-lg-6">
            <h4>Order Summary</h4>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{c.design_image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Custom {{c.product.name}}</h5>
                      <p class="card-text"><small class="text-muted">{{c.product.category}}</small></p>
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="price-head">Price : {{c.product.price}}</h4>
              <h4 class="ship-head">Shipping : {{c.product.price}}</h4>
              <h4 class="sub-head">Your Customization : 1000</h4>
              <h4 class="total-head famt">Order Total : Rs. <span class="text-danger">{{c.product.price}} </span></h4>

         
              
        </div>
    </div>
</div>
{% endblock content %}

{% block js_plugins %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    $(function () {
       let priceTag =  $('.famt>span')
       priceTag.html( {{c.product.price}} + 1000.00 + 100.00    )
    });
</script>
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock js_plugins %}