{% extends 'layouts/base.html' %}


{% block stylesheets %}
<style>
    .col-lg-5 {
        margin-top: 40px;
    }

    .title {
        padding-top: 15px;
    }

    .cate {
        padding-top: 10px;
    }

    .color {
        padding-top: 50px;
    }

    .size {
        padding-top: 20px;
    }

    .custom-btn {
        width: 230px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
            7px 7px 20px 0px rgba(0, 0, 0, .1),
            4px 4px 5px 0px rgba(0, 0, 0, .1);
        outline: none;
    }

    .btn-10 {
        background: rgb(22, 9, 240);
        background: linear-gradient(0deg, rgba(22, 9, 240, 1) 0%, rgba(49, 110, 244, 1) 100%);
        color: #fff;
        border: none;
        transition: all 0.3s ease;
        overflow: hidden;
    }

    .btn-10:after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }

    .btn-10:hover {
        color: #fff;
        border: none;
        background: transparent;
    }

    .btn-10:hover:after {
        background: rgb(0, 3, 255);
        background: linear-gradient(0deg, rgba(2, 126, 251, 1) 0%, rgba(0, 3, 255, 1) 100%);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .personal-btn{
        margin-top: 50px;
    }
    .descp{
        padding-top: 30px;
    }
    .descp-head{
        padding-top: 20px;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <img class="img-fluid" src="{{product.image.url}}" alt="">
        </div>
        <div class="col-lg-5">
            <h2 class="title">{{product.name}}</h2>
            <h5 class="cate">{{product.category}}</h5>

            <p class="color">Color : {{product.color}}</p>


            <p class="size">Size : {{product.dimension}}</p>

            <h4>Price: {{product.price}}</h4>

            <a href="{% url 'checkout' product.id %}"><button class="personal-btn custom-btn btn-10">Buy Now!</button></a>

            <h4 class="descp">Description</h4>
            <p class="descp-head">{{product.description}}</div>
    </div>
</div>
{% endblock content %}